# ========================================
# OS files
# ========================================
desktop.ini
Thumbs.db
._*
.DS_Store
.Spotlight-V100
.Trashes

# ========================================
# Build / Gradle
# ========================================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# ========================================
# IntelliJ IDEA
# ========================================
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# ========================================
# VS Code
# ========================================
.vscode/

# ========================================
# Sensitive / Security / Config
# ========================================
application.yml
application.properties
.env
.env.local
.env.dev
.env.prod
*.key
*.pem
*.token
*.jks
*.p12